<form method="POST" action="/pirates">
<h2> Pirate </h2>
    <label for="pirate_name"> Pirate Name</label>
    <input id="pirate_name" type="text" name="pirate[name]"><br>
    <label for="pirate_weight"> Pirate Weight</label>
    <input id="pirate_weight" type="text" name="pirate[weight]"><br>
    <label for="pirate_height"> Pirate Height</label>
    <input id="pirate_height"type="text" name="pirate[height]"><br>
<h2> Ship(s)</h2>

    <label for="ship_name_1"> Pirate Ship Name</label>
    <input id="ship_name_1" type="text" name="pirate[ships][][name]"><br>
    <label for="ship_type_1"> Pirate Ship Type</label>
    <input id="ship_type_1" type="text" name="pirate[ships][][type]"><br>
    <label for="ship_booty_1"> Pirate Ship Booty</label>
    <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"><br><br>

    <label for="ship_name_2"> Pirate Ship Name</label>
    <input id="ship_name_2" type="text" name="pirate[ships][][name]"><br>
    <label for="ship_type_2"> Pirate Ship Type</label>
    <input id="ship_type_2" type="text" name="pirate[ships][][type]"><br>
    <label for="ship_booty_2"> Pirate Ship Booty</label>
    <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"><br>

    <button type="submit" value="submit">Submit</button>
</form>